*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    
}

html{
    overflow-x: hidden;
    
}

body{
background-color: #000;
min-height: 100vh;
background-image: 
radial-gradient(1px 1px at 20% 30%, #43cea2, transparent),
radial-gradient(1px 1px at 80% 40%, #185a9d, transparent),
radial-gradient(1px 1px at 50% 80%, #43cea2, transparent),
radial-gradient(1px 1px at 60% 70%, #185a9d, transparent),
radial-gradient(1px 1px at 30% 80%, #43cea2, transparent),
radial-gradient(1px 1px at 10% 90%,  #185a9d, transparent);
background-repeat: repeat;
background-size: 300px 100px;

}

.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: rgba(46, 46, 46, 0.6);
    z-index: 1000;
    display: flex;
    align-items: center; 
    justify-content: center;
    padding: 1.4rem 15%;  
    backdrop-filter: blur(1px);
    box-shadow: #43cea2 0px 3px 9px 0px;
    list-style: none;
}
.navbar-menu{
    position: relative;
    left: 50px;
    justify-content: space-between;
    display: flex;
    
}


li a{
    position: relative;
    margin: 0px 25px 0px;
    font-size: 21px;
    color: #ffff;
    left: 200px;
    font-style: oblique;
    font-weight: 400;
    letter-spacing: 1px;  
    text-shadow: #ffff 5px 1px 6px;
    
}
.logo-name{
    color: #ffff;
    position: fixed;
    left: -45px; 
    cursor: pointer; 
}
.diyar-logo{
    color: #185a9d;
    font-size: 21px;
    font-style: oblique;
    font-weight: bold;
    position: relative;
    left: 60px;
}
#D{
    color: #43cea2;
    font-size: 33px;
    font-weight: bolder;
    opacity: 0.9;
}

li a:before{
    content: "";
    position: absolute;
    top: -8px;
    left: 0;
    background-color: #43cea2;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.9s;
    
}

li a:hover::before,
li a:hover::after{
    transform: scaleX(1);   
}

li a:hover{
    color: #43cea2;
    text-shadow: none;
    font-weight: 500;
}

li a:after{
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    background-color: #43cea2;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transform-origin: right;
    transition: all 0.9s ease-in-out;
    
}



#img-home{
    width: 250px;
    position: relative;
    top: 150px;
    left: 880px;  
    animation: float 3s ease-in-out infinite;
    filter: grayscale(0.0) contrast(1.2); 
    
}
@keyframes float{
    0% ,100% {transform: translateY(0px);}
    50% {transform: translateY(-21px);}
    
}


.ui-ux{
    position: relative;
    left: 480px;
    top: 105px;
    background: linear-gradient(to top, #43cea2, #185a9d);
    background-clip: text;
    color: transparent;
    font-weight: 600;
    font-family: Berkshire;
    font-size: 30px;
    font-style: italic;
    letter-spacing: 4px;  
}

.home-page{
    position: relative;
    bottom: 100px;
    left: 66px;
    color: #ffff;
}

.paragraf-1{
    position: relative;
    top: 21px;
    font-size: large;
}
.we{
    color: #43cea2;
    font-size: 21px;
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.icon-social {
    position: absolute;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0px 200px;
    letter-spacing: 30px;
    font-size: 40px;
}

a i{
   color: #43cea2;
   
}
a i:hover{
    color: #43cea2;
    transition: 0.3s ease-in-out;
    transform: scale(1.1) translateY(-5px);
    text-shadow: 0 0 15px #43cea2;   
}

.get-in-touch {
    position: absolute;
    margin: 5rem 30rem;
    color: #ffff;
    
}

.h2-get a{
    color: #ffff;
    font-size: 21px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    box-shadow: 1.5px 2px 5px 0px #43cea2;
    border-radius: 30px;
    transition: 0.3s ease-out;
    border: #185a9d 1.5px solid;
    padding: 10px 18px 10px 18px;
    margin: 60px;
 
    
}
.h2-get a:hover{
    font-size: 20px;
    transition: all 0.5s;
    opacity: 0.6;
    box-shadow: -2px -3px 6px 0px #43cea2;  
    border: #185a9d 1.5px solid;

}

.section-about{ 
    display: flex;
    justify-content: center;
    background-color: black;
    margin: 290px 75px;
    width: 87%;
    height: 50rem;
    color: #ffff; 
    border-radius: 50px;
    box-shadow: 0px 0px 15px 1px #185a9d;
    scroll-margin: 120px;
    
    }
.about{
    position: relative;
    top: 40px;

}
.about-us{
    position: relative;
    left:5px;
    font-size: 33px;
    text-shadow: 1PX 0 9px #43cea2;
    border-bottom: #43cea2 1px solid;
    width: 90px;  
}

.pre-about-us{
    position: relative;
    top: 77px;
    right: 220px;
    font-size: 19px;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 1px;
    

}

.section-Designs{
    display: flex;
    background: black;
    width: 87%;
    height: 90rem;
    position: relative;
    bottom: 200px;
    left: 75px;
    border-radius: 50px;
    box-shadow: 0px 0px 15px 1px #185a9d;
    scroll-margin: 120px;
}
.div-design{
    position: relative;
    left: 490px;
    top: 30px;
}
.h2-Desing{
    color: #ffff;
    font-size: 30px;
    border-bottom: #43cea2 1px solid;
    padding: 3px;
    text-shadow: 0px 2px 11px #43cea2;
    font-style: italic;
    
}


.section-projects{
    display: flex;
    background: black;
    width: 87%;
    height: 90rem;
    position: relative;
    bottom: 100px;
    left: 75px;
    border-radius: 50px;
    box-shadow: 0px 0px 15px 1px #185a9d;
    scroll-margin: 120px; 
}
.div-project{
    position: relative;
    left: 490px;
    top: 30px;
}
.h2-project{
    color: #ffff;
    font-size: 32px;
    border-bottom: #43cea2 1px solid;
    padding: 3px;
    text-shadow: 1px 0px 10px #43cea2;
}
.photo-project{
    position: relative;
    top: 190px;
    right: 78px;

}

.photo-project img{
    width: 260px;
    margin-inline-start: 60px;
    margin-bottom: 100px;
    border-radius: 4px;
    border: 1.2px solid #43cea2;
    box-shadow: 0px 0px 11px 1px #185a9d;
    
}


.section-contact{
    display: flex;
    background: black;
    width: 87%;
    height: 55rem;
    position: relative;
    left: 75px;
    scroll-margin: 115px;
    border-radius: 50px;
    box-shadow: 0 0 15px 1px #185a9d ;
}
.div-contact{
    position: relative;
    left: 472px;
    top: 33px;
    
}
.h2-contact{
    color: #ffff;
    font-size: 30px;
    text-shadow: 1px 0 10px #43cea2;
}

.div-input{
    margin-top: 100px;
    margin-left: 170px;
    width: 500px;
}

.div-input input{
    width: 100%;
    height: 50px;
    background: rgb(16, 16, 16);
    margin: 10px 0;
    color: #ffff;
    padding-left: 9px;
    outline: none;
    border: #43cea2 1px solid;
    border-bottom: none;
    border-right: none;
    border-radius: 20px;  
    box-shadow: 3px 2px 7px 0px #43cea2;

}

input::placeholder{
    font-size: 15px;
    font-style: italic;
    color: gray;

}

.div-input .message{
    height: 100px;
    padding-bottom: 67px;
    
}


.div-input .btn{
    position: relative;
    top: 22px;
    width: 33%;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 400;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    padding: 0 0 0 0;
    border-radius: 40px;
    background: black;
    outline: none;
    border: 1.5px solid #185a9d;
    box-shadow: 2px 3px 6px 0px #43cea2;
    transition: 0.3s ease-out;
    cursor: pointer;
}
.btn:hover{
    box-shadow: -2px -3px 6px 0px #43cea2;
    opacity: 0.6;

}










footer{
    position: relative;
    top: 100px;
    min-height: 15rem;
    background: black;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-top: #43cea2 2px solid;
}

.icon-footer{
    color: #43cea2;
    display: flex;
    justify-content: center;
    margin: 160px ;
    letter-spacing: 35px;
    font-size: 35px;
 
    
}
i.fa-brands{
    transition: all 0.4s; 
}

 .icon-footer .fa-brands:hover{
    opacity: 0.7;
    cursor: pointer;
       
}
.hr-icon{
    position: relative;
    right: 18px;
    
}
.devloped{
    position: absolute;
    top: 37px;
    left: 41.6%;

}

.devloped h3{
    font-size: 15px;
    font-style: italic;
    font-family: 'Franklin Gothic Medium';
    color: #929191;
    text-decoration: underline;
    padding: 3px;
}

.footerdiyar{
    font-size: 16px;
}

.devloped img{
    margin-left: 54px;
    cursor: grab;
    
}




/*MOBILE VERSION*/




