
@media only screen and (max-width: 430px){

    body{
        width: fit-content;
    }


    .header{
        z-index: 1000;
        
    }
    li a{
    display: none;
    
 }

 
.diyar-logo{
    font-size: 11px; 

    }
    
#D{
    font-size: 15px;
    
}

  #img-home{
    width: 65px;
    position: relative;
    top: 110px;
    left: 118px;

    }


    .ui-ux{
    position: relative;
    left: 12px;
    top: 80px;
    font-size: 17px;
      
}

.home-page{
    position: relative;
    top: 78px;
    left: 20px;
    color: #ffff;
}

.paragraf-1{
    position: relative;
    top: 21px;
    font-size: 6px;
    display: none;
}

.h2-crefting{
    font-size: 7px;
    
}

.icon-social {
    position: absolute;
    display: inline-flex;
    margin: 115px 56px;
    letter-spacing: 15px;
    font-size: 14px;
}

.get-in-touch {
    position: absolute;
    margin: 10rem 0rem;
    color: #ffff;
    
}


.h2-get a{
    color: #ffff;
    font-size: 11px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    box-shadow: 1.5px 2px 5px 0px #43cea2;
    border-radius: 30px;
    transition: 0.3s ease-out;
    border: #185a9d 1.5px solid;
    padding: 7px 12px 7px 12px;
    margin: 60px;
    
}
.h2-get a:hover{
    font-size: 12px;
    transition: all 0.5s;
    opacity: 0.6;

}


 .section-about{ 
    margin: 700px 32px;
    width: 90%;
    height: 77rem;
    border-radius: 25px;
    box-shadow: 0px 0px 10px 1px #185a9d;

    }

    


.about-us{
    position: relative;
    left:4px;
    top: -22px;
    font-size: 14px;
    width: 38px;  
}

.section-Designs{
    width: 90%;
    height: 90rem;
    position: relative;
    bottom: 400px;
    left: 32px;
    border-radius: 25px;
    box-shadow: 0px 0px 10px 1px #185a9d;
     
}

.h2-Desing{
    font-size: 14px;
    
}
.div-design{
    position: relative;
    left: 64px;
    top: 13px;
}


 .section-projects{
    width: 90%;
    height: 95rem;
    position: relative;
    bottom: 300px;
    left: 32px;
    border-radius: 25px;
    box-shadow: 0px 0px 10px 1px #185a9d;
     
}
.h2-project{
    
    font-size: 14px;
    
}
.div-project{
    position: relative;
    left: 64px;
    top: 13px;
}

.photo-project img{
    display: none;
    width: 260px;
    margin-inline-start: 60px;
    margin-bottom: 100px;
    border-radius: 4px;
    border: 1.2px solid #43cea2;
    box-shadow: 0px 0px 11px 1px #185a9d;
    
}

.section-contact{
    width: 90%;
    height: 75rem;
    position: relative;
    bottom: 200px;
    left: 32px;
    border-radius: 25px;
    box-shadow: 0px 0px 10px 1px #185a9d;

}
.div-contact{
    position: absolute;
    left: 64px;
    top: 13px;
}
.h2-contact{
    font-size: 11px; 
 
}

.div-input{
    margin-top: 100px;
    margin-left: 0px;
    width: 440px;
}





footer{
    position: relative;
    top: 10px;
    min-height: 15rem;
}

 .icon-footer{
    display: flex;
    margin: 160px ;
    margin-left: 5px;
    letter-spacing: 15px;
    font-size: 16px;

}
.hr-icon{
    position: relative;
    right: 7px;
    
}

.devloped{
    position: absolute;
    top: 37px;
    left: 10%;
}
.devloped h3{
    font-size: 12px;
    padding: 3px;
}
.footerdiyar{
    font-size: 13px;
}





}

    
 




/**/